<div class="container-fluid content">
  <div class="header container-fluid">
    <div class="rigth-side">
      <label class="font-size-1d4rem font-weight800">
        <a href="http://instagram.com/2m_fotografia/" target="_blank" rel="noopener noreferrer">
          Maiara <br>Martins
        </a>
      </label>
    </div>
    <div class="left-side">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active font-weight600-italic font-size-1d2rem" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight600-italic font-size-1d2rem" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight600-italic font-size-1d2rem" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled font-weight600-italic font-size-1d2rem" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</div>

