<header id="header" class="fixed-top">
  <div class="container-fluid content" id="container-fluid">
    <div class="header container-fluid" >
      <div class="rigth-side">
        <label class="font-size-2rem font-weight900 letter-spacing1">
          <a id="title" href="http://instagram.com/2m_fotografia/" target="_blank" rel="noopener noreferrer">
            Maiara Martins
          </a>
        </label>
      </div>
      <div class="left-side">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active font-weight800 font-size-1rem letter-spacing1 font-family-Merriweather" href="https://www.instagram.com/2m_fotografia/">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight800 font-size-1rem letter-spacing1 font-family-Merriweather" href="#">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight800 font-size-1rem letter-spacing1 font-family-Merriweather" router-link="info" ></router-link>>Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled font-weight800 font-size-1rem letter-spacing1 font-family-Merriweather" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
