<div class="container-fluid">
    <app-head></app-head>
    <div class="container img">
        <img src="https://raw.githubusercontent.com/LuccasTraumer/maiara_martins_webpage/master/src/assets/photograpys/29.jpg" alt="" srcset="">
    </div>
    <div class="container-fluid">
        <div class="data">
            <div class="bio">
                <label class="title font-size-1d4rem font-weight700">Bio</label>
                
                <p>Dave is a director/photographer living in Los Angeles. He got his start shooting album covers for 50 Cent, Chris Brown, Three 6 Mafia, Soulja Boy, etc. This led to shooting national ad campaigns over the past decade.</p> 

                <p>Recently, Dave has been collaborating with the top agencies and brands, directing TVC’s across the globe that combine his love of adventure, people, fashion, and cars.  With a background in skating and snowboarding, he strives to tell stories that are fast-paced and energetic, always keeping the camera moving.</p>  
                    
                <p>Dave wrote/directed his first narrative feature film, FLYING CARS, which premiered at the 2019 Dances with Films Festival in Los Angeles. It’s available worldwide on Apple TV, Amazon, and Google Play.</p>
                    
                <p>Recent clients: Share Now, VW, Mercedes, Renault, Dodge, FIAT, Chrysler, Jeep, Alfa Romeo, Ford</p>
                    
                <p>Born in 1979 - Grew up in Carlsbad, CA - UCLA 2001</p>
                
            </div>
            <div class="infos">
                <p>Represented by:</p>
                <p>
                    <label class="font-weight700"> FOX CREATIVE </label> <br>
                    LA - 818.558.1225 <br>
                    NY - 212.375.0450 <br>
                    info@foxcreative.net
                </p>

                <p>
                    FRANCE: <br>
                    WANDA <br>
                    T.  +33 (0)1 49 46 14 00 <br>
                    M. +33(0)6 74 73 54 13 <br>
                    carole.mielelechelle@wanda.fr
                </p>



                <p>INSTAGRAM</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>