<div class="container-fluid">
    <app-head></app-head>
    <div class="container img">
        <img src="https://raw.githubusercontent.com/LuccasTraumer/maiara_martins_webpage/master/src/assets/photograpys/29.jpg" alt="" srcset="">
    </div>
    <div class="container-fluid">
        <div class="data">
            <div class="bio">
                <label class="title font-size-1d4rem font-weight700">Bio</label>
                
                <p>Olá meu nome é maiara, 21 anos, baiana, germiniana (brincadeira não vai ser esse tipo de descrição) mas é meu nome é maiara e minha paixaozinha é a fotografia e aqui você vai poder encontrar os meus cliques.</p>
            </div>
            <div class="infos">
                <p>Represented by:</p>
                <p>
                    <label class="font-weight700"> Maiara Martins </label> <br>
                    <label class="font-weight700">@2m_fotografia</label> <br>
                    <label class="font-weight700">@maiavilhosa</label>
                </p>
                <a href="http://instagram.com/2m_fotografia/" target="_blank" rel="noopener noreferrer"><p>  INSTAGRAM</p></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>