footer {
    padding: 0;
    margin: 0;
    background-color: #000;
    height: 8vh;
    display: block;
    overflow: hidden;
}

.copy {
    text-align: center;
}

.copy label {
    padding-top: 0.7%;
}

.created {
    float: right;
}