<div class="container my-4">
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4" *ngFor="let post of posts">

        
        <img [src]='post.src' class="img-fluid mb-4" data-wow-delay="0.3s" >
        <!--
        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">
        
         <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">
        
      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt="">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">
        
         <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">

      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt="">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">
        
         <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.3s">

      </div>
      
    -->
    </div>
    <!--Grid row-->

  </div>