/* You can add global styles to this file, and also import other style files */
html,body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.font-weight300 {
  font-weight: 300;
}

.font-weight400 {
  font-weight: 400;
}

.font-weight500 {
  font-weight: 500;
}

.font-weight600 {
  font-weight: 600;
}

.font-weight700 {
  font-weight: 700;
}

.font-weight800 {
  font-weight: 800;
}

.font-weight900 {
  font-weight: 900;
}

.font-style-italic {
  font-style: italic;
}



.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: #989494;
}

.font-size-1rem {
  font-size: 1.1em;
}

.font-size-1d4rem {
  font-size: 1.4rem;
}

.font-size-2rem {
  font-size: 2rem;
}

.letter-spacing1 {
  letter-spacing: 1px;
}

.letter-spacing2 {
  letter-spacing: 2px;
}

.font-family-Merriweather {
  font-family: 'Merriweather', serif;
}

.font-family-Montserrat {
  font-family: 'Montserrat', serif;
}